<br />

<div class="booyah-box col-10 offset-1">
  <h1>Our Team</h1>

  <h4 class="col-12">Teresa Barin</h4>
  <br />
  <p class="col-12">Teresa began her teaching career in the New York City public schools in 2003. Her experience in teaching led her to a career that combined education and technology.</p>
</div>